<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300;1,400;1,500&display=swap');
  
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Roboto', sans-serif;
      font-style: italic;
      color: #707070;
  }
  
  html, body {
      width: 100%;
      background: #F7F7F7 0% 0% no-repeat padding-box;
      opacity: 1;
      font-style: italic;
  }
  
  .container {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }
  
  main .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  main .bets {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
  }

  main .bets .bet {
    margin-left: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .5rem;
  }

  main .bets .bet h2 {
    font-size: 1rem;
  }

  main .bets .bet p {
    font-size: .7rem;
  }

  main .price {
    font-size: .9rem;
    margin-bottom: 2rem;
  }
  
  .outline-green {
    border-bottom: 1px solid #B5C401;
  }
  
  main .content p {
    margin-top: .5rem;
    font-size: 1.1rem;
  }
  
  main .subcontent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  main .subcontent p {
    font-size: 1rem;
    margin-bottom: 1rem;
    /*border-bottom: 1px solid #B5C401;*/
  }
  
  button {
    padding: 1rem 2.4rem;
    color: #B5C401;
    font-weight: 500;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 1.5rem;
  }
  
</style>


{{> header }} 
<div class="container">
<main>
  <div class="content">
      <h2>Hi, <span class="outline-green">{{ name }}!</span>.</h2>
      <p>The <span class="outline-green">bets</span> you made on our platform are below:</p>
  </div>
  <div class="bets">
    {{#each bets }}
      <div class="bet" style="border: 1px solid {{this.color}}">
        <h2 style="color: {{this.color}}">{{this.game}}</h2>
        <p>{{this.numbers}}</p>
      </div>
    {{/each}}
  </div>
  <h2 class="price">Total price: <span class="outline-green">{{totalPrice}}</span></h2>
  <div class="subcontent">
      <p class="outline-green">Click bellow to place new bets, good luck! ;)</p>
      <a href="https://tgl-bets.com/dashboard">
        <button>New bets -></button>
      <a/>
  </div>
</main>
  {{> footer }}
</div>