<style>
  main .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  main .bets {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
  }

  main .bets .bet {
    margin-left: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .5rem;
  }

  main .bets .bet h2 {
    font-size: 1rem;
  }

  main .bets .bet p {
    font-size: .7rem;
  }

  main .price {
    font-size: .9rem;
    margin-bottom: 2rem;
  }
  
  .outline-green {
    border-bottom: 1px solid #B5C401;
  }
  
  main .content p {
    margin-top: .5rem;
    font-size: 1.1rem;
  }
</style>


{{> header }}
{{#> container }} 
  {{#> main }}
    <div class="content">
        <h2>Hi, <span class="outline-green">{{ name }}!</span>.</h2>
        <p>The <span class="outline-green">bets</span> you made on our platform are below:</p>
    </div>
    <div class="bets">
      {{#each bets }}
        <div class="bet" style="border: 1px solid {{this.color}}">
          <h2 style="color: {{this.color}}">{{this.game}}</h2>
          <p>{{this.numbers}}</p>
        </div>
      {{/each}}
    </div>
    <h2 class="price">Total price: <span class="outline-green">{{totalPrice}}</span></h2>
    {{> subcontent text="Click bellow to place new bets, good luck! ;)" link="https://tgl-bets.com/dashboard" button-text="New bets" }}
  {{/main }}
  {{> footer }}
{{/container}}